.spinner-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(97, 97, 97, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .spinner {
    border: 16px solid #3858a3;
    border-top-width: 16px;
    border-top-style: solid;
    border-top-color: rgb(56, 88, 163);
  border-top: 16px solid #ffffff;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: _ngcontent-ng-c4294255236_spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  