<!-- src/app/components/user-list/user-list.component.html -->
<div class="user-list-container">
  <div class="user-card" *ngFor="let user of users" (click)="navigateToUserDetails(user.id)">
    <div class="user-card-content">
      <img [src]="user.avatar" alt="{{ user.first_name }} {{ user.last_name }}">
      <p>{{ user.first_name }} {{ user.last_name }}</p>
    </div>
  </div>
  <div class="pagination">
    <button (click)="previousPage()" [disabled]="currentPage === 1">Previous</button>
    <span>Page {{ currentPage }}</span>
    <button (click)="nextPage()" [disabled]="currentPage === totalPages">Next</button>
  </div>
</div>